body {
    background-color: lightblue;
    margin: 0;
    font-family: monospace;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: lightseagreen;
}

.dia1_inicio{
    background-image: url("../img/dia1_inicio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    color: white;
    font-size: 48px;
}
